doctype html
html
    head
        title Página de Registro
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        .container.mt-5
            .row.justify-content-center
                .col-md-4
                    h2.text-center.mb-4 Cadastro
                    form(action="/auth/register" method="post")
                        .form-group
                            label(for="username") Login
                            input.form-control(type="text" name="username" required)
                        .form-group
                            label(for="password") Senha
                            input.form-control(type="password" name="password" required)
                        .form-group
                            button.btn.btn-primary.btn-block(type="submit") Cadastrar
                            a.btn.btn-link.btn-block(href="/login") Entrar
